.wrap{width: 100%; height: 100vh; }

/* header style */
header{width:100%; height:auto; background:#1d1d1d; top:0; _z-index:2; _position: fixed;}
header h2{color:#ff4444;}
header .headerCenter{display: flex; justify-content: space-between; align-items:center; }
header .nav{display:flex;} 
header .nav li a{color:#eee; padding:20px 30px; display:block; transition:all 0.3s; font-weight:600;}
header .nav li a:hover,
header .nav li a.active{color:#ff4444;}

/* main section style */
.main{width: 100%; height: 100%; background: #222; position: relative; display: flex; align-items: center;}
/* .main .overlay{width:100%; height:100%; position:absolute; top:0; left:0; background: -webkit-linear-gradient(top, rgba(29,29,29,0.1) 0%,rgba(29,29,29,1) 100%); /* Chrome10-25,Safari5.1-6 */
/* background: linear-gradient(to bottom, rgba(29,29,29,0.1) 0%,rgba(29,29,29,1) 100%); z-index:1;} */
.main .center h2{color: #ff4444; top: 30%; left: 27%; font-size: 50px; position: absolute; padding: 5px;z-index: 1;}
.main .center p{color: #fff; z-index: 1; top: 40%; left: 27%; position: absolute; font-size: 16px; padding: 5px;}
.main .search-box{width:100%; height:auto; display:flex; justify-content: center; position: absolute; z-index: 10; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.main .search-box input{border:1px solid #fff; background:none; color:#fff; padding:0 10px; margin-left:5px; width:40%; height: 32px;}
.main .search-box input::placeholder{color:#bbb;}
.main .search-box .sendBtn{border:1px solid #ff4444; background:#ff4444; color:#ff4444; padding:0 20px; color:#fff; display:flex; align-items: center; margin: 0 5px;}
.main .search-box .sendBtn:hover{background:transparent;}
.main .search-box input:hover{ padding: 12px 0; outline: 0; border: 1px solid transparent; border-bottom: 1px solid #fff;}




/* .container{width: 80%; height: auto; margin: auto;}
.clear:after{display: block; clear: both; content: '';} 
.recent-movie-wrap{float: left; width: 20%; padding: 10px;}
.recent-movie-wrap img{width: 100%;}
.recent-movie-wrap h3{font-size: 12px;} */

/* popular Movies Section Style */
.popular-section{width:100%; height:auto; padding:30px 0; background-color: #1d1d1d; }
.popular-section .section-title{width:100%; height:auto; margin:15px 0; padding-left:15px; border-left:3px solid #ff4444;}
.popular-section .section-title h2{ color:#ff4444; }
.popular-section .loading{width:100%; height:500px; top:0; left:0; padding:100px 0; display:flex; align-items: center; justify-content: center;}
.popular-section .loading img{width: 100%; height: 100%; z-index: 1;}
/* .popular-section .recent-movies .loading img{width:50%; height:50%; z-index:1;} */



.DownloadCon{width: 100%; height: auto; padding: 50px 0; _background: #ddd; position: relative; }
.DownloadCon .Download-movie-wrap{display: flex; flex-wrap: wrap;  }
.Download-movie-wrap .Download-movies{margin-left: 10px; margin-right: 10px; padding-bottom: 30px;}
.DownloadCon .Download-movies .movie-link-D{display: inline-block; border: 5px solid #fff; max-width: 220px; position: relative; transition: all 0.4s;}

.movie-link-D .figure{position: relative; margin: 0; overflow: hidden;}
.movie-link-D .figure img{width: 100%; display: block; max-width: 100%; height: auto;}

.movie-link-D .hidden{color: #fff; width: 100%; height: 100%; position: absolute; top:0; text-align: center; opacity: 0; transition: all 0.3s;}
.movie-link-D .hidden .rating{width: 100%; color: #fff; font-size: 28px; font-weight: 600; position: relative; top: 13%; }
.movie-link-D .hidden .rating i.fa{font-size: 32px; color: #ff4444; padding-right: 10px; }
.movie-link-D .hidden h4{font-size: 28px; position: relative; top: 30%;} 
.movie-link-D .hidden .detailBtn{display: block; position: relative; background: #ff4444; color: #fff; width: 80%; font-size: 18px;padding: 7px 0; margin: 0 auto; border-radius: 4px; top: 40%;}
.movie-link-D h3{text-align: center; font-size: 15px; margin: 10px 5px; white-space: nowrap; overflow: hidden;text-overflow: ellipsis; color: #fff;}

.DownloadCon .Download-movies .movie-link-D:hover{border: 5px solid #ff4444;}
.movie-link-D:hover .hidden{opacity: 1;}
.movie-link-D:hover img{filter: brightness(40%);}

/* page button */
.numContainer{width: 100%; height: auto; margin: 20px auto 50px;}
.numBtns{width:100%; height:auto; display:flex; justify-content: center; padding:15px 0;}
.numBtns button{width:30px; height:30px; border:1px solid #ff4444; background:#fff; font-size:12px; outline:0; display:flex; justify-content: center; align-items: center; color:#ff4444; margin:0 3px;}
.numBtns button.active{background:#ff4444; color:#fff;}


/* SearchMain page style */
.SearchMain{width: 100%; height: auto; _position: relative; z-index: 4; background-color: #1d1d1d;}
.SearchContents{width: 100%; height: auto; }
.SearchMain .search-box{width: 100%; height: auto; text-align: center; margin: 30px 0; _position: absolute; padding-top: 30px;}
.SearchMain .search-box h2{font-weight: 600; padding:10px 0; color: #fff;}
.SearchMain .search-box input{width: 35%; height: 30px; border: 0; border-bottom: 1px solid #fff; text-align: center; background: transparent; color: #fff;}
.SearchMain .search-box input:hover{border: 1px solid #fff;}
.SearchMain .search-box .sendBtn{border: 0; width: 30px; height: 30px; background: transparent;}
.SearchMain .search-box .sendBtn i.fa{color: #fff; font-size: 20px; align-items: center;}

.items{width: 100%; height: auto; padding: 100px 0; }
.items .item-sizer{display: flex; flex-wrap: wrap;}
.items .item{margin-left: 15px; margin-right: 15px; padding-bottom: 30px;}
.items .item .movie-link{display: inline-block; border: 5px solid #fff; max-width: 210px; position: relative; transition: all 0.4s;}
.figure{position: relative; width: 100%; margin: 0; overflow: hidden;}
.figure img{width: 100%; display: block; max-width: 100%; height: auto; }

.movie-link .hidden{color: #fff; width: 100%; height: 100%; position: absolute; top:0; text-align: center; opacity: 0; transition: all 0.3s;}
.movie-link .hidden .rating{width: 100%; color: #fff; font-size: 28px; font-weight: 600; position: relative; top: 13%; }
.movie-link .hidden .rating i.fa{font-size: 32px; color: #ff4444; padding-right: 10px; }
.movie-link .hidden h4{font-size: 28px; position: relative; top: 20%;} 
.movie-link .hidden .detailBtn{display: block; position: relative; background: #ff4444; color: #fff; width: 80%; font-size: 18px;padding: 7px 0; margin: 0 auto; border-radius: 4px; top: 50%;}

.items .item .movie-link:hover{border: 5px solid #ff4444;}
.items .item .movie-link:hover .hidden{opacity: 1;}
.items .item .movie-link:hover img{filter: brightness(40%);}

.item .movie-bottom{max-width:210px; margin: 0 auto; padding: 0 5px;}
.item .movie-bottom a{font-size: 15px; font-weight: bold; color: #fff; white-space: nowrap; overflow: hidden;text-overflow: ellipsis;}




/* genre section style */
.genre-section{width: 100%; max-width: 980px; height: auto; margin: auto; padding: 50px 0;}
.genre-section>div{margin: 30px 0;}
.slide-box{padding: 5px;}
.slide-box img{width: 100%;}